{% extends "base.html" %}
{% block content %}
<section id="content" class="body">

   <div class="row">
        <div class="eleven columns">


            <header>
              <h2 class="entry-title">
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                   title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
           {% import 'translations.html' as translations with context %}
           {{ translations.translations_for(article) }}
            </header>
            <div class="entry-content">
              {{ article.content }}
            </div><!-- /.entry-content -->


        </div><!-- /.eleven.columns -->
        
     {% include 'sidebar.html' %}
 </div><!-- /.row -->


</section>
{% endblock %}
